*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
  font-family:'Times New Roman', Times, serif;  
  background-color: white;
  box-sizing: inherit;
  display: block;
 margin: 8px;
 width: 100%;
 
}
nav{
    background:white ;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0; 
    font-size: 20px;
    padding: 25px 100px;
    
    

}
.logo h1 img{
    
    line-height: 15px;
    float:left;
}
nav ul{
    float:right;
    margin:0;
    overflow: hidden;
    z-index: 1;
}
nav ul li{
    list-style:none;
    display: inline-block; 
    line-height:1;
    margin-left: 20px;

}
nav ul li a{
    box-sizing: inherit;
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
    transition:.2s;
    padding:5px 3px;
    color: black;
     font-weight: bolder;
     font-size: 15px;  
}
nav ul li a:hover{
    color: blue;
}
.button{
    border: 2px groove gainsboro;
    padding:8px 8px;
     color: black;
     font-weight: bolder;
     font-size: 15px; 
     border-radius: 20px;
     background-color: white;
}
i{
    color: blue;
    margin-left:10px;

}

#HomePage{
    height: 75vh;
    background-image: url("/Assets/bag.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    color: white;
    position: relative;
}
#HomePage::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* black overlay with 40% opacity */
    z-index: 1;
}

/* Make sure your actual content sits above the overlay */
#HomePage * {
    position: relative;
    z-index: 2;
}
.foryou{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px ;
    transform: translateX(-300px);
    
}
p{
font-size: 45px;
}



