*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
  font-family:'Times New Roman', Times, serif;  
  background-color: white;
  box-sizing: inherit;
  display: block;
 margin: 8px;
 width: 100%;
 
}
nav{
    background:white ;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0; 
    font-size: 20px;
    padding: 10px 100px;

}
.logo h1 img{
    background-color:white;
    line-height: 15px;
    padding: 30px 50px;
    float:left;
}
nav ul{
    float:right;
    margin:0;
    padding: 30px 50px;
    overflow: hidden;
    z-index: 1;
}
nav ul li{
    list-style:none;
    display: inline-block; 
    line-height:1;
    margin-left: 20px;

}
nav ul li a{
    box-sizing: inherit;
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
    transition:.2s;
    padding:5px 3px;
    color: black;
     font-weight: bolder;
     font-size: 15px;  
}
nav ul li a:hover{
    color: blue;
}
.button{
    border: 2px groove gainsboro;
    padding:8px 8px;
     color: black;
     font-weight: bolder;
     font-size: 15px; 
     border-radius: 20px;
     background-color: white;
}
i{
    color: blue;
    margin-left:10px;

}

#HomePage{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2025/03/24/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1.png?impolicy=fcrop&w=1920&h=580&q=medium");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



